
.movie-masthead{
    /*-webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);*/
    /*box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);*/
}
.movie-nav-right{
    float: right;
}

.movie-nav-item {
    position: relative;
    display: inline-block;
    padding: 10px;
    font-weight: 500;
    /*color: rgba(0, 0, 0, 0.40);*/
    color:#999;
}
.movie-nav-item:hover,
.movie-nav-item:focus {
    color: #000;
    text-decoration: none;
}
/* Active state gets a caret at the bottom */
.movie-nav .active {
    color: #000;
}
.movie-nav .active:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -5px;
    vertical-align: middle;
    content: " ";
    border-right: 5px solid transparent;
    border-bottom: 5px solid;
    border-left: 5px solid transparent;
}
.movie-head{
    padding-top: 10px;
    padding-bottom: 10px;
}
.site-title{
    margin-top: 15px;
    margin-bottom: 0;
    font-size: 40px;
    font-weight: normal;
}
.site-description {
    font-size: 20px;
    color: #999;
}

/*
 * Main column and sidebar layout
 */

.movie-main {
    font-size: 18px;
    line-height: 1.5;
}

/* Sidebar modules for boxing content */
.sidebar-module {
    padding: 15px;
    margin: 0 -15px 15px;
}
.sidebar-module-inset {
    padding: 15px;
    background-color: #f5f5f5;
    border-radius: 4px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
    margin-bottom: 0;
}


/* Pagination */
.pager {
    margin-bottom: 60px;
    text-align: left;
}
.pager > li > a {
    padding: 5px 14px;
    text-align: center;
    border-radius: 30px;
}


/*
 * movie posts
 */

.movie-post {
    /*margin-bottom: 60px;*/
}
.movie-post:hover{
    /*box-shadow:0px 3px 6px rgba(0,0,0,.2);*/
}
.movie-post:hover .movie-timeaxis{
    color:#000;
}
.movie-post:hover .movie-info{
    /*box-shadow: 9px 11px 5px -8px #b1e4e2;*/
    box-shadow: 9px 11px 5px -8px rgba(0,0,0,.2);
}
.movie-timeaxis{
    position: relative;
    display: inline-block;
    font-size:15px;
    color:#999;
    border-right: 2px solid #d2d2d2;
    min-height: 130px;
    padding-top:6px;
}
.spot{
    position: absolute;
    border:5px solid #7c7c7c;
    border-radius: 5px;
    right:-6px;
}
.movie-info{
    /*box-shadow: 9px 11px 5px -8px #bbbbbb;*/
    padding-top:10px;
    position: relative;
}
.movie-other{
    margin-bottom:5px;
}
.movie-season,.movie-episode{
    font-size:16px;
}

@media (max-width: 768px) {
    .movie-timeaxis{
        border-right:none;
        min-height:20px;
        margin-bottom: 10px;
        border-bottom:1px solid #e3e3e3;
        padding-top:0;
        width:80%;
    }
    .spot{
        display:none;
    }
}

.movie-desc{
    position:absolute;
    display: none;
}
.movie-post:hover .movie-desc{
    display: block;
    right: 0px;
    top:100%;
    background-color: #fff;
    box-shadow: 1px 1px 2px 2px rgba(0,0,0,.2);
    padding: 10px;
    border-radius: 10px;
}



/*
 * Footer
 */

.movie-footer {
    padding: 40px 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: 1px solid #e5e5e5;
}
.movie-footer p:last-child {
    margin-bottom: 0;
}


/*            add new movie page */
.add-content{
    margin-top:20px;
}
.input-group-addon {
    color: #fff;
    /*background-color: #5cb85c;*/
    background-color: #000;
    border: 1px solid #000;
}
.form-control{
    border:1px solid #000;
    /*border:1px solid #5bc0de;*/
}
.btn-black{
    color:#000;
    background-color: #fff;
    border:1px solid #000;
}
.btn-black:hover{
    color:#fff;
    background-color: #000;
}
/*            login page    */
/*.login-content{*/
    /*margin-top:20px;*/
/*}*/

.tips {
    width: 280px;
    height: 40px;
    margin: 30px auto 0;
    text-align: center;
    line-height: 40px;
    background-color: #CCC;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    position: fixed;
    bottom: 0px;
    left: 50%;
    margin-left: -140px;
    display: none;
    color: #666;
}

.tips.loading {
    /*background-color: transparent;*/
    background-color: #dadada;
}

.movie-sidebar{
    position:relative;
}
legend{
    display:inline-block;
    width: inherit;
}
#form-switch{
    margin-left:10px;
    cursor: pointer;
    font-size: 16px;
    color: rgba(139, 0, 12, 0.75);
}
.form-group{
    display:none;
}


